@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

p {
  font-weight: 300;
}